.row{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: 0 auto;
    /* background: #fff; */
}

.row > div{
   flex-basis: 25.33%;
   text-align: center;
   font-size: 24px;
}

.homerow{
    font-size: xx-large;
}