    /* .row{
        background: #fff;
        /* flex: 1;
        justify-content: space-around; */
        /* flex-direction: 'row';   */
     

    .row{
        display: flex;
        flex-wrap: wrap;
        width:100%;
        margin: 0 auto;
        background: #fff;
    }
    
    .row > div{
       flex-basis: 33.33%;
       text-align: center;
       font-size: 24px;
    }
    .heading{
        /* display: flex; */
        background-color: #fff;
        text-align: center;
    }